/_build/
dist/
dist-newstyle/
.stack-work/
cabal-dev
*.local
.ghc.environment.*
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz

*~
*.DS_Store

# IntelliJ
/.idea
*.iml

# HDL directories created during the build cycle
/vhdl
/verilog
/systemverilog

# Quartus generated state (the project + db all land under _build/, but ignore
# the loose artefacts too in case a stray compile is run in-tree).
/db
/incremental_db
/output_files
*.qpf
*.qsf
*.qws
*.sof
*.pof
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.done
*.sld
*.qdf
